# Use this notebook for your 3 choices of APIs

In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [2]:
Library = requests.get("https://openlibrary.org/works/OL15626917W.json")
print(" Library :",  Library.status_code)

 Library : 200

In [3]:
Library.content
print(len(Library.text))
results = Library.json()  # convert to list of dic
results

1639

{'created': {'type': '/type/datetime', 'value': '2011-01-06T22:26:11.401548'},
 'subjects': ['Environmental aspects',
  'Climatic changes',
  'Environmental engineering',
  'Global warming',
  'Engineering geology'],
 'latest_revision': 4,
 'description': {'type': '/type/text',
  'value': 'Climate discussions often focus on potential impacts over a long period of time—several decades, a century even. But change could also happen much more suddenly. What if we had a real climate emergency—how could we cool the planet in a hurry? This question has led a group of scientists to pursue extreme solutions: huge contraptions that would suck CO2 from the air, machines that brighten clouds and deflect sunlight away from the earth, even artificial volcanoes that spray heat-reflecting particles into the atmosphere. This is the radical and controversial world of geoengineering. How to Cool the Planet, Jeff Goodell explores the scientific, political, and moral aspects of geoengineering. How are we going to change the temperature of whole regions if we can’t even predict next week’s weather? What about wars waged with climate control as the primary weapon? There are certainly risks, but Goodell persuades us that geoengineering may be our last best hope, a Plan B for the environment. And if it is, we need to know enough to get it right.'},
 'key': '/works/OL15626917W',
 'title': 'How to cool the planet',
 'authors': [{'type': {'key': '/type/author_role'},
   'author': {'key': '/authors/OL33421A'}}],
 'type': {'key': '/type/work'},
 'last_modified': {'type': '/type/datetime',
  'value': '2020-02-14T07:14:50.671748'},
 'revision': 4}

In [4]:
from pandas.io.json import json_normalize
spdata = json_normalize(results)

C:\Users\Parinaz\AppData\Local\Temp\ipykernel_12592\4048331713.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  spdata = json_normalize(results)

In [5]:
spdata

,subjects,latest_revision,key,title,authors,revision,created.type,created.value,description.type,description.value,type.key,last_modified.type,last_modified.value
0,"[Environmental aspects, Climatic changes, Envi...",4,/works/OL15626917W,How to cool the planet,"[{'type': {'key': '/type/author_role'}, 'autho...",4,/type/datetime,2011-01-06T22:26:11.401548,/type/text,Climate discussions often focus on potential i...,/type/work,/type/datetime,2020-02-14T07:14:50.671748

In [6]:
df = pd.DataFrame(spdata)
df

,subjects,latest_revision,key,title,authors,revision,created.type,created.value,description.type,description.value,type.key,last_modified.type,last_modified.value
0,"[Environmental aspects, Climatic changes, Envi...",4,/works/OL15626917W,How to cool the planet,"[{'type': {'key': '/type/author_role'}, 'autho...",4,/type/datetime,2011-01-06T22:26:11.401548,/type/text,Climate discussions often focus on potential i...,/type/work,/type/datetime,2020-02-14T07:14:50.671748

In [7]:
spdata.shape

(1, 13)

In [ ]:
# recipes= requests.get("https://api.spoonacular.com/recipes/complexSearch")
# print(" recipes :", recipes.status_code)

In [ ]:
# 24fc7cac-9b26-4918-a161-7aebd00f429b

In [ ]:
#apikey=24fc7cac-9b26-4918-a161-7aebd00f429b#

In [ ]:
#apikey = getpass.getpass()#

In [ ]:
# bitcoin_mainnet = requests.get(f"https://btc.api.watchdata.io/node/jsonrpc?api_key={}")

In [ ]:
# results = bitcoin_mainnet.json()  
# results

In [15]:
import getpass

In [ ]:
apikey = getpass.getpass()
#9919a514-b1a4-4ee0-8515-d5dc00e3e509

In [ ]:
holiday = requests.get(f"https://holidayapi.com/v1/holidays?pretty&key={apikey}&country=NL&year=2022")

In [ ]:
results = holiday.json()
results

In [ ]:
data = json_normalize(results)
df = pd.DataFrame(data)
df

In [ ]:
df["holidays"]

In [ ]:
data = pd.DataFrame.from_dict(df["holidays"], orient="index").reset_index()
data.columns = ["holidays", "date"]
data

In [ ]:
# import pandas as pd
# import requests
# import getpass
# apikey = getpass.getpass()
# res = requests.get('')
# print(" res :",  res.status_code)
# results = res.json()
# spdata = json_normalize(results)
# df = pd.DataFrame(spdata)
# df

In [10]:
dog=requests.get('http://dog-api.kinduff.com/api/facts?number=5')
print(" dog :",  dog.status_code)

 dog : 200

In [11]:
results = dog.json()
data=spdata = json_normalize(results)

C:\Users\Parinaz\AppData\Local\Temp\ipykernel_12592\140776659.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data=spdata = json_normalize(results)

In [12]:
df = pd.DataFrame(dog)
df

                                                   0
0  b'{"facts":["Chocolate is poisonous to dogs be...
1  b' four to five months!","Greyhounds are the f...
2  b'gs\xe2\x80\x99 ears are extremely expressive...
3  b'ovements.","This dog, Naki\'o, lost all of h...
4                 b' like normal."],"success":true}'

In [13]:
df.columns=['facts']

In [14]:
df

                                               facts
0  b'{"facts":["Chocolate is poisonous to dogs be...
1  b' four to five months!","Greyhounds are the f...
2  b'gs\xe2\x80\x99 ears are extremely expressive...
3  b'ovements.","This dog, Naki\'o, lost all of h...
4                 b' like normal."],"success":true}'