# Use this notebook for your 3 choices of APIs

In [11]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

# https://openlibrary.org/

In [2]:
Library = requests.get("https://openlibrary.org/works/OL15626917W.json")
print(" Library :",  Library.status_code)

 Library : 200

In [3]:
Library.content
print(len(Library.text))
results = Library.json()  # convert to list of dic
results

1639

{'created': {'type': '/type/datetime', 'value': '2011-01-06T22:26:11.401548'},
 'subjects': ['Environmental aspects',
  'Climatic changes',
  'Environmental engineering',
  'Global warming',
  'Engineering geology'],
 'latest_revision': 4,
 'description': {'type': '/type/text',
  'value': 'Climate discussions often focus on potential impacts over a long period of time—several decades, a century even. But change could also happen much more suddenly. What if we had a real climate emergency—how could we cool the planet in a hurry? This question has led a group of scientists to pursue extreme solutions: huge contraptions that would suck CO2 from the air, machines that brighten clouds and deflect sunlight away from the earth, even artificial volcanoes that spray heat-reflecting particles into the atmosphere. This is the radical and controversial world of geoengineering. How to Cool the Planet, Jeff Goodell explores the scientific, political, and moral aspects of geoengineering. How are we going to change the temperature of whole regions if we can’t even predict next week’s weather? What about wars waged with climate control as the primary weapon? There are certainly risks, but Goodell persuades us that geoengineering may be our last best hope, a Plan B for the environment. And if it is, we need to know enough to get it right.'},
 'key': '/works/OL15626917W',
 'title': 'How to cool the planet',
 'authors': [{'type': {'key': '/type/author_role'},
   'author': {'key': '/authors/OL33421A'}}],
 'type': {'key': '/type/work'},
 'last_modified': {'type': '/type/datetime',
  'value': '2020-02-14T07:14:50.671748'},
 'revision': 4}

In [4]:
from pandas.io.json import json_normalize
spdata = json_normalize(results)

C:\Users\Parinaz\AppData\Local\Temp\ipykernel_12592\4048331713.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  spdata = json_normalize(results)

In [5]:
spdata

,subjects,latest_revision,key,title,authors,revision,created.type,created.value,description.type,description.value,type.key,last_modified.type,last_modified.value
0,"[Environmental aspects, Climatic changes, Envi...",4,/works/OL15626917W,How to cool the planet,"[{'type': {'key': '/type/author_role'}, 'autho...",4,/type/datetime,2011-01-06T22:26:11.401548,/type/text,Climate discussions often focus on potential i...,/type/work,/type/datetime,2020-02-14T07:14:50.671748

In [6]:
df = pd.DataFrame(spdata)
df

,subjects,latest_revision,key,title,authors,revision,created.type,created.value,description.type,description.value,type.key,last_modified.type,last_modified.value
0,"[Environmental aspects, Climatic changes, Envi...",4,/works/OL15626917W,How to cool the planet,"[{'type': {'key': '/type/author_role'}, 'autho...",4,/type/datetime,2011-01-06T22:26:11.401548,/type/text,Climate discussions often focus on potential i...,/type/work,/type/datetime,2020-02-14T07:14:50.671748

In [7]:
spdata.shape

(1, 13)

In [ ]:
# recipes= requests.get("https://api.spoonacular.com/recipes/complexSearch")
# print(" recipes :", recipes.status_code)

In [ ]:
# 24fc7cac-9b26-4918-a161-7aebd00f429b

In [ ]:
#apikey=24fc7cac-9b26-4918-a161-7aebd00f429b#

In [ ]:
#apikey = getpass.getpass()#

In [ ]:
# bitcoin_mainnet = requests.get(f"https://btc.api.watchdata.io/node/jsonrpc?api_key={}")

In [ ]:
# results = bitcoin_mainnet.json()  
# results

# https://holidayapi.com/docs

In [1]:
import getpass

In [5]:
apikey = getpass.getpass()    #It was working!!!! I don't know why it died!
#8b12e552-8767-4938-8653-ce5feeee95de

········

In [8]:
holiday = requests.get(f"https://holidayapi.com/v1/holidays?pretty&key={apikey}&country=NL&year=2022")

In [9]:
results = holiday.json()
results

{'status': 200,
 'warning': 'These results do not include state and province holidays. For more information, please visit https://holidayapi.com/docs',
 'requests': {'used': 3, 'available': 9997, 'resets': '2023-12-01 00:00:00'},
 'holidays': [{'name': "New Year's Day",
   'date': '2022-01-01',
   'observed': '2022-01-01',
   'public': True,
   'country': 'NL',
   'uuid': '02b782ca-15a6-4ba3-b647-e2abbcb1c5d6',
   'weekday': {'date': {'name': 'Saturday', 'numeric': '6'},
    'observed': {'name': 'Saturday', 'numeric': '6'}}},
  {'name': 'March Equinox',
   'date': '2022-03-20',
   'observed': '2022-03-20',
   'public': False,
   'country': 'NL',
   'uuid': '4576f8ec-f82c-4122-8275-73f7c6ae41e4',
   'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
    'observed': {'name': 'Sunday', 'numeric': '7'}}},
  {'name': 'Good Friday',
   'date': '2022-04-15',
   'observed': '2022-04-15',
   'public': True,
   'country': 'NL',
   'uuid': '99c05e62-5dfe-445a-9383-3fdf473e1356',
   'weekday': {'date': {'name': 'Friday', 'numeric': '5'},
    'observed': {'name': 'Friday', 'numeric': '5'}}},
  {'name': 'Easter',
   'date': '2022-04-17',
   'observed': '2022-04-17',
   'public': True,
   'country': 'NL',
   'uuid': '206d71bc-0501-4608-933b-3f5c1ee3d20d',
   'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
    'observed': {'name': 'Sunday', 'numeric': '7'}}},
  {'name': 'Easter Monday',
   'date': '2022-04-18',
   'observed': '2022-04-18',
   'public': True,
   'country': 'NL',
   'uuid': '20816196-42dc-447c-b02f-3071e9296280',
   'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
    'observed': {'name': 'Monday', 'numeric': '1'}}},
  {'name': 'Royal Day',
   'date': '2022-04-27',
   'observed': '2022-04-27',
   'public': True,
   'country': 'NL',
   'uuid': 'e76d4908-0169-4920-a70b-a5fe0aaed06a',
   'weekday': {'date': {'name': 'Wednesday', 'numeric': '3'},
    'observed': {'name': 'Wednesday', 'numeric': '3'}}},
  {'name': 'Commemoration of the Dead',
   'date': '2022-05-04',
   'observed': '2022-05-04',
   'public': False,
   'country': 'NL',
   'uuid': 'e7caec4c-3474-4349-970f-49890ea1e6d2',
   'weekday': {'date': {'name': 'Wednesday', 'numeric': '3'},
    'observed': {'name': 'Wednesday', 'numeric': '3'}}},
  {'name': 'Liberation Day',
   'date': '2022-05-05',
   'observed': '2022-05-05',
   'public': True,
   'country': 'NL',
   'uuid': 'f41586f2-362e-4e9e-80f9-28a815990995',
   'weekday': {'date': {'name': 'Thursday', 'numeric': '4'},
    'observed': {'name': 'Thursday', 'numeric': '4'}}},
  {'name': "Mother's Day",
   'date': '2022-05-08',
   'observed': '2022-05-08',
   'public': False,
   'country': 'NL',
   'uuid': '7b8e5dca-fecb-4813-8bd8-c52d3f9b9673',
   'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
    'observed': {'name': 'Sunday', 'numeric': '7'}}},
  {'name': 'Feast of the Ascension of Jesus Christ',
   'date': '2022-05-26',
   'observed': '2022-05-26',
   'public': True,
   'country': 'NL',
   'uuid': '1446ceeb-c3c7-438d-9f30-9dd20e33cd85',
   'weekday': {'date': {'name': 'Thursday', 'numeric': '4'},
    'observed': {'name': 'Thursday', 'numeric': '4'}}},
  {'name': 'Pentecost',
   'date': '2022-06-05',
   'observed': '2022-06-05',
   'public': True,
   'country': 'NL',
   'uuid': '2e0cb95d-2f33-422f-afe5-870738920729',
   'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
    'observed': {'name': 'Sunday', 'numeric': '7'}}},
  {'name': 'Pentecost Monday',
   'date': '2022-06-06',
   'observed': '2022-06-06',
   'public': True,
   'country': 'NL',
   'uuid': '3edf8a91-f7f9-47bf-8969-ffc5397bbd02',
   'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
    'observed': {'name': 'Monday', 'numeric': '1'}}},
  {'name': "Father's Day",
   'date': '2022-06-19',
   'observed': '2022-06-19',
   'public': False,
   'country': 'NL',
   'uuid': 'c936c641-d865-49c4-a115-30b7575c354e',
   'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
    'observed': {'name': 'Sunday', 'numeric': '7'}}},
  {'name': 'June Solstice',
   'date': '2022-06-21',
   'observed': '2022-06-21',
   'public': False,
   'country': 'NL',
   'uuid': '1efb403e-1333-437c-932e-1ba6edf5a780',
   'weekday': {'date': {'name': 'Tuesday', 'numeric': '2'},
    'observed': {'name': 'Tuesday', 'numeric': '2'}}},
  {'name': 'September Equinox',
   'date': '2022-09-23',
   'observed': '2022-09-23',
   'public': False,
   'country': 'NL',
   'uuid': '71eb54b5-06c6-4aa7-86d3-1506a8fa7e46',
   'weekday': {'date': {'name': 'Friday', 'numeric': '5'},
    'observed': {'name': 'Friday', 'numeric': '5'}}},
  {'name': "Saint Nicholas' Eve",
   'date': '2022-12-05',
   'observed': '2022-12-05',
   'public': False,
   'country': 'NL',
   'uuid': '32601bc4-0811-4b7b-ad86-a79846861998',
   'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
    'observed': {'name': 'Monday', 'numeric': '1'}}},
  {'name': "Saint Nicholas' Day",
   'date': '2022-12-06',
   'observed': '2022-12-06',
   'public': False,
   'country': 'NL',
   'uuid': '011dea38-047d-4336-898e-a6208c16ebb7',
   'weekday': {'date': {'name': 'Tuesday', 'numeric': '2'},
    'observed': {'name': 'Tuesday', 'numeric': '2'}}},
  {'name': 'December Solstice',
   'date': '2022-12-21',
   'observed': '2022-12-21',
   'public': False,
   'country': 'NL',
   'uuid': 'af8288c3-3272-48ed-9514-6388d8e43ae8',
   'weekday': {'date': {'name': 'Wednesday', 'numeric': '3'},
    'observed': {'name': 'Wednesday', 'numeric': '3'}}},
  {'name': 'Christmas Eve',
   'date': '2022-12-24',
   'observed': '2022-12-24',
   'public': False,
   'country': 'NL',
   'uuid': 'e3bd0410-4ce5-4b8e-9527-57a0d32ab0b2',
   'weekday': {'date': {'name': 'Saturday', 'numeric': '6'},
    'observed': {'name': 'Saturday', 'numeric': '6'}}},
  {'name': 'Christmas Day',
   'date': '2022-12-25',
   'observed': '2022-12-25',
   'public': True,
   'country': 'NL',
   'uuid': '36c875bc-ac7c-4426-bc56-c7e9f663fb2f',
   'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
    'observed': {'name': 'Sunday', 'numeric': '7'}}},
  {'name': 'Boxing Day',
   'date': '2022-12-26',
   'observed': '2022-12-26',
   'public': True,
   'country': 'NL',
   'uuid': '03fdd6c3-e145-487d-a252-3e86db00e970',
   'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
    'observed': {'name': 'Monday', 'numeric': '1'}}},
  {'name': "New Year's Eve",
   'date': '2022-12-31',
   'observed': '2022-12-31',
   'public': False,
   'country': 'NL',
   'uuid': '227eeaf5-66e8-4e8a-aad8-b4c02b84bd35',
   'weekday': {'date': {'name': 'Saturday', 'numeric': '6'},
    'observed': {'name': 'Saturday', 'numeric': '6'}}}]}

In [12]:
data = json_normalize(results)
df = pd.DataFrame(data)
df

C:\Users\Parinaz\AppData\Local\Temp\ipykernel_6692\2814208397.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data = json_normalize(results)

,status,warning,holidays,requests.used,requests.available,requests.resets
0,200,These results do not include state and provinc...,"[{'name': 'New Year's Day', 'date': '2022-01-0...",3,9997,2023-12-01 00:00:00

In [21]:
df["holidays"][0]

[{'name': "New Year's Day",
  'date': '2022-01-01',
  'observed': '2022-01-01',
  'public': True,
  'country': 'NL',
  'uuid': '02b782ca-15a6-4ba3-b647-e2abbcb1c5d6',
  'weekday': {'date': {'name': 'Saturday', 'numeric': '6'},
   'observed': {'name': 'Saturday', 'numeric': '6'}}},
 {'name': 'March Equinox',
  'date': '2022-03-20',
  'observed': '2022-03-20',
  'public': False,
  'country': 'NL',
  'uuid': '4576f8ec-f82c-4122-8275-73f7c6ae41e4',
  'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
   'observed': {'name': 'Sunday', 'numeric': '7'}}},
 {'name': 'Good Friday',
  'date': '2022-04-15',
  'observed': '2022-04-15',
  'public': True,
  'country': 'NL',
  'uuid': '99c05e62-5dfe-445a-9383-3fdf473e1356',
  'weekday': {'date': {'name': 'Friday', 'numeric': '5'},
   'observed': {'name': 'Friday', 'numeric': '5'}}},
 {'name': 'Easter',
  'date': '2022-04-17',
  'observed': '2022-04-17',
  'public': True,
  'country': 'NL',
  'uuid': '206d71bc-0501-4608-933b-3f5c1ee3d20d',
  'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
   'observed': {'name': 'Sunday', 'numeric': '7'}}},
 {'name': 'Easter Monday',
  'date': '2022-04-18',
  'observed': '2022-04-18',
  'public': True,
  'country': 'NL',
  'uuid': '20816196-42dc-447c-b02f-3071e9296280',
  'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
   'observed': {'name': 'Monday', 'numeric': '1'}}},
 {'name': 'Royal Day',
  'date': '2022-04-27',
  'observed': '2022-04-27',
  'public': True,
  'country': 'NL',
  'uuid': 'e76d4908-0169-4920-a70b-a5fe0aaed06a',
  'weekday': {'date': {'name': 'Wednesday', 'numeric': '3'},
   'observed': {'name': 'Wednesday', 'numeric': '3'}}},
 {'name': 'Commemoration of the Dead',
  'date': '2022-05-04',
  'observed': '2022-05-04',
  'public': False,
  'country': 'NL',
  'uuid': 'e7caec4c-3474-4349-970f-49890ea1e6d2',
  'weekday': {'date': {'name': 'Wednesday', 'numeric': '3'},
   'observed': {'name': 'Wednesday', 'numeric': '3'}}},
 {'name': 'Liberation Day',
  'date': '2022-05-05',
  'observed': '2022-05-05',
  'public': True,
  'country': 'NL',
  'uuid': 'f41586f2-362e-4e9e-80f9-28a815990995',
  'weekday': {'date': {'name': 'Thursday', 'numeric': '4'},
   'observed': {'name': 'Thursday', 'numeric': '4'}}},
 {'name': "Mother's Day",
  'date': '2022-05-08',
  'observed': '2022-05-08',
  'public': False,
  'country': 'NL',
  'uuid': '7b8e5dca-fecb-4813-8bd8-c52d3f9b9673',
  'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
   'observed': {'name': 'Sunday', 'numeric': '7'}}},
 {'name': 'Feast of the Ascension of Jesus Christ',
  'date': '2022-05-26',
  'observed': '2022-05-26',
  'public': True,
  'country': 'NL',
  'uuid': '1446ceeb-c3c7-438d-9f30-9dd20e33cd85',
  'weekday': {'date': {'name': 'Thursday', 'numeric': '4'},
   'observed': {'name': 'Thursday', 'numeric': '4'}}},
 {'name': 'Pentecost',
  'date': '2022-06-05',
  'observed': '2022-06-05',
  'public': True,
  'country': 'NL',
  'uuid': '2e0cb95d-2f33-422f-afe5-870738920729',
  'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
   'observed': {'name': 'Sunday', 'numeric': '7'}}},
 {'name': 'Pentecost Monday',
  'date': '2022-06-06',
  'observed': '2022-06-06',
  'public': True,
  'country': 'NL',
  'uuid': '3edf8a91-f7f9-47bf-8969-ffc5397bbd02',
  'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
   'observed': {'name': 'Monday', 'numeric': '1'}}},
 {'name': "Father's Day",
  'date': '2022-06-19',
  'observed': '2022-06-19',
  'public': False,
  'country': 'NL',
  'uuid': 'c936c641-d865-49c4-a115-30b7575c354e',
  'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
   'observed': {'name': 'Sunday', 'numeric': '7'}}},
 {'name': 'June Solstice',
  'date': '2022-06-21',
  'observed': '2022-06-21',
  'public': False,
  'country': 'NL',
  'uuid': '1efb403e-1333-437c-932e-1ba6edf5a780',
  'weekday': {'date': {'name': 'Tuesday', 'numeric': '2'},
   'observed': {'name': 'Tuesday', 'numeric': '2'}}},
 {'name': 'September Equinox',
  'date': '2022-09-23',
  'observed': '2022-09-23',
  'public': False,
  'country': 'NL',
  'uuid': '71eb54b5-06c6-4aa7-86d3-1506a8fa7e46',
  'weekday': {'date': {'name': 'Friday', 'numeric': '5'},
   'observed': {'name': 'Friday', 'numeric': '5'}}},
 {'name': "Saint Nicholas' Eve",
  'date': '2022-12-05',
  'observed': '2022-12-05',
  'public': False,
  'country': 'NL',
  'uuid': '32601bc4-0811-4b7b-ad86-a79846861998',
  'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
   'observed': {'name': 'Monday', 'numeric': '1'}}},
 {'name': "Saint Nicholas' Day",
  'date': '2022-12-06',
  'observed': '2022-12-06',
  'public': False,
  'country': 'NL',
  'uuid': '011dea38-047d-4336-898e-a6208c16ebb7',
  'weekday': {'date': {'name': 'Tuesday', 'numeric': '2'},
   'observed': {'name': 'Tuesday', 'numeric': '2'}}},
 {'name': 'December Solstice',
  'date': '2022-12-21',
  'observed': '2022-12-21',
  'public': False,
  'country': 'NL',
  'uuid': 'af8288c3-3272-48ed-9514-6388d8e43ae8',
  'weekday': {'date': {'name': 'Wednesday', 'numeric': '3'},
   'observed': {'name': 'Wednesday', 'numeric': '3'}}},
 {'name': 'Christmas Eve',
  'date': '2022-12-24',
  'observed': '2022-12-24',
  'public': False,
  'country': 'NL',
  'uuid': 'e3bd0410-4ce5-4b8e-9527-57a0d32ab0b2',
  'weekday': {'date': {'name': 'Saturday', 'numeric': '6'},
   'observed': {'name': 'Saturday', 'numeric': '6'}}},
 {'name': 'Christmas Day',
  'date': '2022-12-25',
  'observed': '2022-12-25',
  'public': True,
  'country': 'NL',
  'uuid': '36c875bc-ac7c-4426-bc56-c7e9f663fb2f',
  'weekday': {'date': {'name': 'Sunday', 'numeric': '7'},
   'observed': {'name': 'Sunday', 'numeric': '7'}}},
 {'name': 'Boxing Day',
  'date': '2022-12-26',
  'observed': '2022-12-26',
  'public': True,
  'country': 'NL',
  'uuid': '03fdd6c3-e145-487d-a252-3e86db00e970',
  'weekday': {'date': {'name': 'Monday', 'numeric': '1'},
   'observed': {'name': 'Monday', 'numeric': '1'}}},
 {'name': "New Year's Eve",
  'date': '2022-12-31',
  'observed': '2022-12-31',
  'public': False,
  'country': 'NL',
  'uuid': '227eeaf5-66e8-4e8a-aad8-b4c02b84bd35',
  'weekday': {'date': {'name': 'Saturday', 'numeric': '6'},
   'observed': {'name': 'Saturday', 'numeric': '6'}}}]

In [ ]:
# import pandas as pd
# import requests
# import getpass
# apikey = getpass.getpass()
# res = requests.get('')
# print(" res :",  res.status_code)
# results = res.json()
# spdata = json_normalize(results)
# df = pd.DataFrame(spdata)
# df

# http://dog-api.kinduff.com

In [10]:
dog=requests.get('http://dog-api.kinduff.com/api/facts?number=5')
print(" dog :",  dog.status_code)

 dog : 200

In [11]:
results = dog.json()
data=spdata = json_normalize(results)

C:\Users\Parinaz\AppData\Local\Temp\ipykernel_12592\140776659.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data=spdata = json_normalize(results)

In [12]:
df = pd.DataFrame(dog)
df

                                                   0
0  b'{"facts":["Chocolate is poisonous to dogs be...
1  b' four to five months!","Greyhounds are the f...
2  b'gs\xe2\x80\x99 ears are extremely expressive...
3  b'ovements.","This dog, Naki\'o, lost all of h...
4                 b' like normal."],"success":true}'

In [13]:
df.columns=['facts']

In [14]:
df

                                               facts
0  b'{"facts":["Chocolate is poisonous to dogs be...
1  b' four to five months!","Greyhounds are the f...
2  b'gs\xe2\x80\x99 ears are extremely expressive...
3  b'ovements.","This dog, Naki\'o, lost all of h...
4                 b' like normal."],"success":true}'